<br>
<br>
  <tr>
    <th>utilisateur Nom - Prénom</th>
    <th>id déplacement</th>
    <th>année</th>
    <th>mois</th>
    <th>création</th>
    <th>mise à jour</th>
    <th>date de validation</th>
    <th>validation</th>
  </tr>
  <tr *ngFor = "let line of list">
    <td><a routerLink='/listforone/{{line.id}}' routerLinkActive="active">{{line.nom}} - {{line.prenom}}</a></td>
    <td>{{line[0].id}}</td>
    <td>{{line[0].annee}}</td>
    <td>{{line[0].mois | date: 'MMMM'}}</td>
    <td>{{line[0].created.date | date: 'yyyy-MM-dd'}}</td>
    <td>{{line[0].updated.date | date: 'yyyy-MM-dd'}}</td>
    <td>{{line[0].dateValidation.date | date: 'yyyy-MM-dd'}}</td>
    <td>{{line[0].validation}}</td>
    <td><a routerLink='/deplacementdetails/{{line.id}}/{{line[0].annee}}/{{line[0].mois}}/{{line[0].id}}' routerLinkActive="active">détails</a></td>
  </tr>
  <br>
  <br>
  <a routerLink='/formDeplacement/' routerLinkActive="active">Creer un deplacement</a>
