{% extends 'base.html.twig' %}

{% block body %}
<div id="modifFormulaire">
    <h1>Déplacement jour création</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="maxwidth" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('f_deplacement_show',{ 'id': deplacementJour.deplacement.id }) }}">Retour à la liste</a>
        </li>
    </ul>
</div>
{% endblock %}
