<h2> Formulaire DJour </h2>
<div>
  <form (ngSubmit)="register()">
    <div>
      <label>nbKm</label><input name="nbKm" [(ngModel)]="deplacementJour.nbKm" >
    </div>
    <div>
      <label>montant</label><input name="montant" [(ngModel)]="deplacementJour.montant">
    </div>
    <div>
      <label>jour</label><input name="jour" [(ngModel)]="deplacementJour.jour">
    </div>
    <select *ngFor = "let line of list; index as i" name="profession" [(ngModel)]="deplacementJour.type">
      <option value="{{i+1}}">{{line.typeDeplacement}}</option>

    </select>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
