{% extends 'base.html.twig' %}
{% block body %}
  <span id="bienvenue">Bienvenue ! {{utilisateur.nom}} {{utilisateur.prenom}}</span>
  <div id="tableau">
  Déplacement réalisé :

  <table>
    <tr>
      <th>Annee</th>
      <th>Mois</th>
    </tr>
    {% for instance in deplacements %}
    <tr>
        <td>{{ instance.annee }}</td>
        <td>{{ instance.mois }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
