{% extends 'base.html.twig' %}
{% block body %}
<div id="modifProfil" >
<h1> Modifier son profil </h1>
  {{form_start(form)}}
  {{form_widget(form)}}
  <input type="submit">
  {{form_end(form)}}
</div>
{% endblock %}
