<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Projet framework{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
            <ul>
                <li><a class="active" href="{{ path('front_office_homepage') }}">Home</a></li>
                <li><a href="{{ path('profil') }}">Modifier son profil</a></li>
            </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
